
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url('https://fondosmil.com/fondo/56750.jpg');
  background-color: rgba(119, 138, 144, 0.419);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main{
  flex-grow: 1;
} 
.bg-footer{
  background-color: rgba(33, 33, 33, 0.500);
}
.bg-menu{
  background-color: rgba(33, 33, 33, 0.500);
}
.letraBlanca{
  color: rgb(230, 230, 230);
}
.opacidadCard{
  opacity: 0.9 ;
}