
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url('https://fondosmil.com/fondo/56750.jpg');
  background-color: rgba(119, 138, 144, 0.419);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main{
  flex-grow: 1;
} 
.bg-footer{
  background-color: rgba(33, 33, 33, 0.700);
}
.bg-menu{
  background-color: rgba(33, 33, 33, 0.700);
}
.letraBlanca{
  color: rgb(230, 230, 230);
}
.opacidadCard{
  opacity: 0.9 ;
}
.menuHamburguesa{
  background-color: rgba(0, 0, 0, 0.811) !important;
}
.imagenError404{
  width: 50%;
}
.bg-fomrulario {
  background-color: rgba(56, 56, 56, 0.7)!important;
  color: white!important;
  font-weight: bold;
}
.tituloLogin{
  border-bottom: 1px solid white !important;
}